.rotate2 {
    animation: rotateAnimation 10s linear infinite;
    transform-origin: center;
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }